image: docker:20.10.16
services:
  - name: docker:20.10.16-dind
    alias: docker
    command: ["--tls=false"]
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://127.0.0.1:2375

default:
  tags:
    - tensorplex

.docker-build:
  stage: build-image
  script:
    - docker login -u $CI_DEPENDENCY_PROXY_USER -p $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
    - docker build -t $CI_REGISTRY_IMAGE:${CI_COMMIT_REF_NAME/\//-}-${CI_COMMIT_SHORT_SHA/\//-}-$(date +%s) -t $CI_REGISTRY_IMAGE:${CI_COMMIT_REF_NAME/\//-}-latest . --no-cache
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push --all-tags $CI_REGISTRY_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "staging" || $CI_COMMIT_BRANCH == "prod"'
      changes:
        - "**/*"

stages:
  - build-image

#==================================================================

build-image:
  extends: .docker-build

